/* styles.css */
body, html {
    margin: 5px;
    padding:10px;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('img2.gif') no-repeat center center fixed;
    background-size: cover;
}


.background {
    background: rgba(0, 0, 0, 0.6); /* Add a slight overlay to enhance text visibility */
    margin:0;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    padding: 20px 30px; 
    border-radius: 8px;
    text-align: center; 
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}




.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #f8d7da;
}


.submit {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: #007BFF;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.submit:hover {
    background: #0056b3;
}

.trynow{
    width: 100%;
    max-width:100px;
    margin: 0 auto;
    color:white;
    background-color:black;
    cursor:pointer;
}
.trynow.hover{
    background:rgb(145, 24, 24);
}
